body
{
    margin: 0%;    
    background-image: url("/배경화면대처/배경화면대처.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.flexbox
{
    display: flex;
    justify-content: space-between;
}

.rightEnd
{
    display: flex;
    margin-left: 10px;
}

.imoticon
{
    font-size: 30px;
    font-family: quicksand;
    color: #fff;
    padding-right: 30px;
    display: flex;
    align-items: center;
}
.imoticon a
{
    margin-left: 10px;
    font-family: quicksand;
    color: black;
    text-decoration: none;
}
.middle
{
    font-family: quicksand;
    font-size: 30px;
    margin: 58px;
}
.middle a
{
    text-decoration: none;
    font-family: quicksand;
    font-size: 30px;
    color: black;
}

  .sidebar {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 100px;
  }
  .sidebarDetail
  {
    padding-top: 700px;
    text-decoration: none;
    width: 10px;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a {
    padding-left: 50px;
    text-decoration: none;
    width: 10px;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .close-btn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 15px;
    margin-right: 0px;
  }
.close-btn a
{
    width: 50px;
    background-color: black;
}

  .content {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  .open-btn {
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
    color: #818181;
    margin-top: 50px;
  }
  
  .open-btn:hover {
    color: #f1f1f1;
  }

.webpagePictures
{
  text-align: center;
  margin-top: 100px;
}
.openBtn {
    background: transparent;
    border: none;
    padding-left: 5px;
    cursor: pointer;
    font-family: quicksand;
    font-size: 30px;
  }
  .openBtn:hover
  {
    color: white;
  }

  .overlay {
    height: 100%;
    width: 1900px;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: transparent;
}
  
  .overlay-content {
    position: relative;
    top: 46%;
    width: 80%;
    text-align: center;
    margin-top: 30px;
    margin: auto;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    cursor: pointer;
    color: white;
  }

  .overlay .closebtn:hover {
    color: #ccc;
  }

  #myOverlay
  {
    background-color: rgba(106,90,205,0.5);
  }
  
  .overlay input[type=text] {
    padding: 15px;
    font-size: 17px;
    border: none;
    float: left;
    width: 30%;
    transform:rotate(-3deg);
    animation-name: blink;
    margin-left: 500px;
  }
  
  .overlay button {
    float: center;
    width: auto;
    padding: 15px;
    font-size: 15px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: black;
    margin-left: -1000px;
    margin-top: 100px;
  }
  
  .overlay button:hover 
  {
    background: #bbb;
  }